<div class="d-flex">
  <ul class="list-inline mx-auto justify-content-center">
    <li> <a class="nav-link" routerLink="/book" routerLinkActive="router-link-active">BOOK</a></li>
    <li> <a class="nav-link" routerLink="/blog" routerLinkActive="router-link-active">BLOG</a></li>
    <li><a class="nav-link" routerLink="/profile" routerLinkActive="router-link-active">PROFILE</a></li>
    <li><a class="nav-link" routerLink="/book-form/form" routerLinkActive="router-link-active">BOOK FORM</a></li>
    <li><a class="nav-link" routerLink="/blog-form/form" routerLinkActive="router-link-active">BLOG FORM</a></li>
  </ul>
</div>
<br>