<form style="text-align: center;">
    <h3>Profile</h3><br>
    <label>Email:
        <input type="text" id="email" placeholder="Enter your Email"></label><br>
    <label>Name:
        <input type="text" id="name" placeholder="Enter your Name"> </label><br>
    <label>Bio: &nbsp; &nbsp;
        <input type="text" id="bio" placeholder="Enter your Bio"></label><br>
    <label>Active:
        <input type="text" id="active" placeholder="Active"></label><br><br>
    <button class="btn btn-success btn-sm"> Submit</button>
</form>