<!-- <form [formGroup]="bookFormAdd" class="container">
  <div class="form-group">
    <label for="name">Book Name</label>
    <input formControlName="name" class="form-control" />
  </div>
  <ng-container formArrayName="authors">
    <label for="authors">Authors</label>
  </ng-container>
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" class="form-control" />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Add Book</button>
</form> -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-xs-4">
      <app-book-edit></app-book-edit>
    </div>
  </div>
</div>
