<!-- <div class="row">
  <div class="col-xs-12">
    <h1>{{ book.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group-item" *ngFor="let author of book.authors">
      <h1>{{ author.name }}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ book.isbn }}</h1>
  </div>
</div>
<hr /> -->
<button type="button" class="btn btn-primary me-3" (click)="onEditBook()">
  Edit
</button>
<button type="button" class="btn btn-danger" (click)="onDeleteBook()">
  Delete
</button>
